doctype html
html(lang="en")
	head
		title WPA Associates
		link(rel="stylesheet", type="text/css", href="css/styles.css")
	body
		header
			nav
				ul
					li: a(href="#mission") Our Mission
					li: a(href="#services") Services
					li: a(href="#contact") Contact Us
		section.main(role="main")
			div#mission
				h2: span Our Mission
				p
					!= "<em>W. Phent International</em> has been in business for over two decades, and has recently partnered with a team of professionals with over twenty years experience in the <em>insurance</em> and <em>real estate</em> business and We look forward to servicing our clients in a better and more efficient way for years to come."
				#peter
					img(src="imgs/peter.jpg")
			div#services
				h2: span Services

				ul.service
					li.title: h3 General Health Insurance Coverage
					li: p Accident
					li: p Disability (Short Term)
					li: p Disability (Long Term)
					li: p Sickness
					li: p Hospitilzation
					li: p Emergency Room
					li: p Out Patient Surgery
					li: p Dortor Visit
					li: p Dental Plans
				ul.service
					li.title: h3 Cancer Policy
					li: p First Time Diagnosed
					li: p Continuous Coverage
				ul.service
					li.title: h3 Life Insurance
					li: p Universal Life Insurance
					li: p Variable Life Insurance
					li: p Term and ROP Term
					li: p Final Expence Whole Life
				ul.service
					li.title: h3 Affordable Insurance Coverage
					li: p Homes
					li: p Businesses
					li: p Annuity Products
					li: p Buy - Sell and Business Continuation Agreement
					li: p Camps and Retreats
					li: p Will and Testaments
				ul.service
					li.title: h3 Medicare: Supplemental/Advantage
					li: p AARP Modernized Supplemental Plans
					li: p Private Fee For Servise Plans
					li: p Secure Horizons Modernized Supplemental Plans
					li: p Prescriptios Drug Coverage Plans
					li: p AARP and Medicare Advantage
			div#contact
				h2: span Contact Us
				ul#info
					li: p.address!= " Cadman Plaza Station<br/>P. O. BOX 21159<br/>Brooklyn, New York 11202"
					li: p!= "Phone: <a href='#'>(917) 385-5886</a>"
					li: p!= "Fax: <a href='#'>(718) 566-7578</a>"
					li: p!= "Email: <a href='#'>baricuta555@optonline.net</a>"
				div#map

		footer
			nav
				ul
					li: a LinkedIn
					li: a Facebook
	script(src="http://maps.googleapis.com/maps/api/js?AIzaSyAu0VzFpT87cznIujWZCmZuIytfyI3lZ8M")
	script(src="js/main.js")